*.vcxproj.filters
*.aps
*.opensdf
*.sdf
*.pdb
*.lib
*.dll
*.suo
*.exe
*.msp
*.msi
*.user
*.vsmdi
*.wixpdb
*_c.c
*_h.h
*_i.c
*_i.h
*_p.c
*_s.c
.svn/
.svn/**
_int/
_int/**
_out/
_out/**
.vs
MergeLog.txt
ExtractionLog.txt
Appguard/bodetectorhlp64.lib
Appguard/bodetectorhlp64.obj
Appguard/NtUserRoutine64.lib
Appguard/NtUserRoutine64.obj
CAVShell/CavShell.h
CIS_89/
CIS_89/**
CisEvLog/MSG00409.bin
cks_cce_x*.7z
cmdaptag/sha1-586.obj
cmdaptag/sha1-x86_64.obj
Codejock/
Codejock/**
Debug/
Debug/**
dlldata.c
x64/
x64/**
*.pyc
*.db
*.opendb
UpgradeLog.htm
*.exp